@font-face {
	
    font-family: 'Buk'; 
	
    src: url(../fonts/Buk.ttf); 

}



body {
    overflow-x:hidden;
    background-color: #191919;
}


#header {
    margin-left: -1%;
    margin-top: -1%;
    width: 102%;
    height: 8%;
    background-color: #232323;
    
}

#name {
    font-size: 1.9em;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-top: 0.7%;
    font-family: 'Buk';
    color: #990000;
    float: left;
background-image: linear-gradient(135deg, rgba(203,104,0,1) 0%, rgba(119,10,10,1) 48%, rgba(255,0,0,1) 100%);
color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}





#login {
    font-size: 1.9em;
    margin: 0;
    padding: 0;
    margin-left: 4%;
    margin-top: 0.7%;
    float: right;
    font-family: 'Buk';
    margin-right: 5%;
    color: #D1D1D1;
}



#login_img {
    margin: 0;
    padding: 0;
    margin-right: -13%;
    float: right;
    margin-top: 0.4%;
}



#slogan1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    margin-left: 6%;
    margin-top: 15%;
    font-family: 'Buk';
    background-image: linear-gradient(135deg, rgba(203,104,0,1) 0%, rgba(119,10,10,1) 48%, rgba(255,0,0,1) 100%);
    color: transparent;
   -webkit-background-clip: text;
    background-clip: text;
}



#slogan2 {
    font-size: 2em;
    margin-left: 6%;
    margin-top: 0%;
    font-family: 'Buk';
    color: #D1D1D1;
}















